
<header class="header">
    
    <div class="logo">
        <a href="" class="logo__link">
            <h1 class="logo__title">Gandalf</h1>
            <img  class="logo__img" src="img/logo.svg" alt="Gandalf">
        </a>
    </div>

    <nav class="menu">
        <ul class="menu__list">
            <li class="menu__item active">
                <a href="" class="menu__link menu__link--project">menu roject roject roject roject</a>
                <div class="menu-dropdown">
                    <ul class="menu-dropdown__list">
                        <li class="menu-dropdown__item active">
                            <a href="" class="menu-dropdown__link">Lorem lorem</a>
                        </li>
                        <li class="menu-dropdown__item">
                            <a href="" class="menu-dropdown__link">Lorem lorem lorem lorem</a>
                        </li>
                        <li class="menu-dropdown__item">
                            <a href="" class="menu-dropdown__link">+ add new menu</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="menu__item active">
                <a href="" class="menu__link">Tables</a>
            </li>
            <li class="menu__item">
                <a href="" class="menu__link">Settings</a>
            </li>
        </ul>
    </nav>

    <div class="settings">
        <ul class="settings__list">
            <li class="settings__item active">
                <a href="" class="settings__link">
                    <img class="settings__img" src="img/profile.png" alt="Profile">
                    <span class="settings__text">npo4epk</span>
                </a>
                <div class="settings-dropdown">
                    <ul class="settings-dropdown__list">
                        <li class="settings-dropdown__item settings-dropdown__item--data">
                            <span class="settings-dropdown__name">npo4epk</span>
                            <span class="settings-dropdown__email">admin@admin.com</span>
                        </li>
                        <li class="settings-dropdown__item">
                            <a href="" class="settings-dropdown__link">Edit profile</a>
                        </li>
                        <li class="settings-dropdown__item">
                            <a href="" class="settings-dropdown__link">Change password</a>
                        </li>
                        <li class="settings-dropdown__item">
                            <a href="" class="settings-dropdown__link" ng-click="$ctrl.signOut()">Sign Out</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

</header>
<a href="" ng-click="$ctrl.aaa()">adsa</a>

<main ui-view></main>